
body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}


#contenedor {
    
    width: 40%;
    height: 600px;
    margin: auto;
    text-align: center;
    background-image: url("https://d500.epimg.net/cincodias/imagenes/2016/02/11/lifestyle/1455210497_368194_1455210536_noticia_normal.jpg");
    background-size: cover;
    padding-top: 20px;
    margin-top: 50px;
}

.boton {
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    border-radius: 20%;
    font-weight: bold;
    font-size: smaller;
    text-align: center;
    margin: auto;
}


footer {
    margin-top: 0;
    font-size: larger;
    font-weight: bolder;
    color: black;
}


.boton:hover {
    color: white;
    background-color: blue;
}

#div1 {
    margin: auto;
    width: 50%;
    border: 1px solid black;
}





